/* =============
    Typography
============= */

.gallery{

    ul{

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include lg{
            grid-template-columns: 60% auto;
        }
        
    }
}