/* =============
    Search
============= */

.search{
    background-color: #C21715;
    padding-left: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    
    .container{

        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "content"
            ;
        }

    }
}


.content{

    form{
       button{
          padding-top: 6px;
          padding-bottom: 6.5px;
          padding-left: 11px;
          padding-right: 11px;
          background-color: #FEF200;
          color: black;
       }
    }
 }