/* =============
    Search
============= */

.search{

    .container{

        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "content"
            ;
        }

    }
}

.large-middle-text{

    .container{

        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "content"
            ;
        }

    }
}
