/* =============
    Typography
============= */

.whatsnew{

    .container{

        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "content"
            ;
        }

    }
}

.large-whatsnew{

    .container{

        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "content"
            ;
        }

    }
}