/* =============
    Footer
============= */

footer{
    background-color: #C21715;
    
   .content{
        
        color: white; 

       @include md{
         display:grid;
         grid-template-columns: 50% auto;
         grid-template-areas:
         "locations newsletter"
         "locations social";
         gap:20px;
       }

       @include lg{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "locations newsletter social";
      }

      .locations{
         padding-top: 20px;
         @include md{
            grid-area: locations;
            padding-bottom: 40px;
         }
      }

      .newsletter{
        @include md{
           grid-area: newsletter;
           padding-top: 20px;
           margin-left: 16px;
        }
     }

     .follow{

        @include md{
           grid-area: social;
           padding-top: 20px;
           margin-left: 16px;
        }

        @include lg{
           align-items: right;
        }

        ul{
            li{
                display: inline-block;
            }
        }
     }

   }

   .content{
      
      form{
         button{
            background-color: #009A4E;
            color: black;
         }
      }
   }
    
   li{
    list-style: none;
   }

   ul{
    padding-left: 0;
   }
}